<html>
  <head><title>Admin</title></head>
  <body>
    {% if admin %}
    add a new value
    <form action="/admin" method="post">
      <table>
        <tr><td>id</td><td><input name="id" size=20></td></tr>
        <tr><td>serialno</td><td><input name="serialno" size=20></td></tr>
        <tr><td>otp digits</td><td><input name="otpdigits" size=16></td></tr>
        <td>sequence</td><td><input name="sequence" size=16></td></tr>
        <tr><td>pin</td><td><input name="pin" size=16></td></tr>
        <tr><td>seed</td><td><input name="seed" size=64></td></tr>
      </table>
      <input type="submit" value="add entry"></div>
    </form>
    {% endif %} {% if login and not admin %}
    Only admin users allowed<br>
    {% endif %} {% if login %}
    <a href={{logout_url}}>Logout</a>
    {% else %}
    <a href={{login_url}}>Login</a>
    {% endif %}
  </body>
</html>
