<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>FreeOTP</title>
  </head>
  <body>
    Validate OATH token - connect to /otp?id=[id]&amp;pin=[pin]<br>
    response will be status=OK, or error<br>
    <br>
    For source code, see <a href="http://github.com/ghoff/oathotp">http://github.com</a><br>
    For demo, see <a href="demo">demo</a>
  </body>
</html>
